.blockquote {
  margin: 1rem;
  padding-left: calc(var(--spacing) * 3);
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 75%;
    background: var(--color-quote-border);
    left: 0;
  }
}
