@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-inter: var(--font-inter);
  --font-fira: var(--font-fira);

  --color-error: var(--color-red-500);
}

@theme {
  --color-background: #fbfbfb;
  --color-primary: #2bc570;

  --color-heading: #2f2e2e;
  --color-default: #424242;
  --color-muted: #848484;
  --color-disabled: #989898;

  --color-weak-card: #eeeeee;
  --color-border: #dbdbdb;

  --color-terminal-background: #171717;

  --color-quote-border: #e6e6e6;

  --color-btn-primary-background: #242424;
  --color-btn-primary-display: #ffffff;
  --color-btn-contrast-background: #0e0e0e;
  --color-btn-contrast-display: #ffffff;
}

@layer theme {
  @variant dark {
    --color-background: #1f1f1f;
    --color-primary: #00ff73;

    --color-heading: #ffffff;
    --color-default: #ffffff;
    --color-muted: #a6a6a6;
    --color-disabled: #989898;

    --color-weak-card: #323232;
    --color-border: #545454;

    --color-quote-border: #303030;

    --color-btn-primary-background: #00ff73;
    --color-btn-primary-display: #000000;
    --color-btn-contrast-background: #ffffff;
    --color-btn-contrast-display: #000000;
  }
}

body {
  @apply bg-background text-default font-inter min-h-screen relative;

  position: relative;

  &::before {
    @apply absolute block pointer-events-none w-full h-full top-0 left-0 opacity-[0.05] dark:opacity-[0.025];

    content: "";
    z-index: -1;

    background-image: url(../../public/texture-overlay.jpg);
    background-blend-mode: color-dodge;
    background-size: cover;
    background-repeat: repeat;
  }
}
