@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  font-size: 16px;
}

@theme inline {
  --font-inter: var(--font-inter);
}

@theme {
  --color-background: #fbfbfb;
}

@layer theme {
  @variant dark {
    --color-background: #1f1f1f;
  }
}

body {
  @apply bg-background font-inter;
}
