@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-error: var(--color-red-400);
  --color-info: var(--color-blue-400);
}

@theme {
  --color-badge-display: #fbfbfb;
  --color-background: #fbfbfb;
  --color-primary: #2bc570;

  --color-heading: #2f2e2e;
  --color-default: #424242;
  --color-muted: #848484;
  --color-disabled: #989898;

  --color-badge-background: #e1e1e1;
  --color-badge-display: #686868;

  --color-weak-card-background: #e6e6e6;
  --color-border: #dbdbdb;

  --color-terminal-background: #171717;

  --color-quote-border: #e6e6e6;

  --color-btn-primary-background: #242424;
  --color-btn-primary-display: #ffffff;
  --color-btn-contrast-background: #0e0e0e;
  --color-btn-contrast-display: #ffffff;

  --animate-fade-in: fade-in 0.3s ease-out;
  --animate-fade-in-bottom-up: fade-in-bottom-up 0.3s ease-out;

  @keyframes fade-in-bottom-up {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@layer theme {
  @variant dark {
    --color-background: #1f1f1f;
    --color-primary: #00ff73;

    --color-heading: #ffffff;
    --color-default: #ffffff;
    --color-muted: #a6a6a6;
    --color-disabled: #989898;

    --color-badge-background: #323232;
    --color-badge-display: #ffffff;

    --color-weak-card-background: #262626;
    --color-border: #545454;

    --color-quote-border: #303030;

    --color-btn-primary-background: #00ff73;
    --color-btn-primary-display: #000000;
    --color-btn-contrast-background: #ffffff;
    --color-btn-contrast-display: #000000;
  }
}

html {
  min-height: 100vh;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0.05;

    display: block;
    pointer-events: none;

    width: 100%;
    height: 100%;

    content: "";
    z-index: -1;

    background-image: url(../../public/texture-overlay.jpg);
    background-blend-mode: color-dodge;
    background-size: cover;
    background-repeat: repeat;
  }

  &.dark::before {
    opacity: 0.025;
  }
}

body {
  background: var(--color-background);
  color: var(--color-default);
  font-family: var(--font-inter);
}
