@import "../../../../app/globals.css";

.section {
  .section-title {
    position: relative;
    width: fit-content;

    &::after {
      content: "";

      position: absolute;
      bottom: calc(var(--spacing) * -1.25);
      left: 0;

      display: block;
      width: 85%;
      height: 1px;
      background: var(--color-primary);
    }
  }

  .section-content {
    margin-top: calc(var(--spacing) * 6);
  }
}
